*{
 margin:0;
 padding:0;
 box-sizing: border-box;
}
body{
    display: flex;
    align-items: center;
    height: 100vh;
    width:200vh;
    justify-content: center;
    background-color: rgb(109,167,238);
}
.continer{
    width: 450px;
    height: 450px;
    background-color:white;
    padding: 40px 50px;
    border-radius:8px;
}
.box{
    display: flex;
    flex-direction: column;
    margin: 30px;
}
 #text{
    height: 100px;
    width: 100%;
    resize: none;
    font-size: 18x;
    outline: none;
    border-radius: 5px;
    margin-top: 5px;
    padding:10px;
}
#text::-webkit-scrollbar{
    display: none;
}
#voicelist,#speak{
    outline:none;
    border-radius: 5px;
    width: 100%;
    height:42px;
    font-size:16px;
    margin: 10px;
}
#speak{
    border:none;
    background-color: blue;
    color: white;
    cursor:pointer;
}
#speak:hover{
    background-color:rgb(75,136,241);

}